#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: -1;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.test-section, .home-page {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    border-radius: 8px;
    max-width: 50%;
    max-height: 50%
}

h1 {
    color: #007BFF;
    margin: 5px;
}

h2 {
    color: #007bff;
    margin: 5px;
}

#homePage {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
}

p {
    text-decoration: none;
    color: black;
    margin: 5px;
}

a:hover {
    background-color: #007BFF;
    color: #fff;
}

#nextButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    position:fixed;
    right: 10px;
    bottom: 10px;
}

#backButton {
    background-color: #007BFF;
    color: #fff;
    border: none; 
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    position:fixed;
    left: 10px;
    bottom: 10px;
}
 
#backButton:hover {
    background-color: #0056b3;
}

#nextButton:hover {
    background-color: #0056b3;
}

.test-finished-message {
    color: green;
    font-weight: bold;
}

.finished-test {
    color: green;
    font-weight: bold;
}

.hidden {
    display: none;
}


/* Style for the body and HTML elements to center the content */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the container div with IDs "test1" to "test7" */
#test1, #test2, #test3, #test4, #test5, #test6, #test7, #test8 {
  max-width: 600px; /* Adjust the max-width as per your design */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Adjust the text alignment as needed */
}

/* Style for the heading text within the container */
#test1 h1, #test2 h1, #test3 h1, #test4 h1, #test5 h1, #test6 h1, #test7 h1, #test8 h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Style for the paragraph text within the container */
#test1 p, #test2 p, #test3 p, #test4 p, #test5 p, #test6 p, #test7 p, #test8 p {
  color: #060071;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Style for the unordered list within the container */
#test1 ul, #test2 ul, #test3 ul, #test4 ul, #test5 ul, #test6 ul, #test7 ul, #test8 ul {
  list-style-type: square;
  color: #007bff; /* Change the color as per your preference */
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Style for list items within the container */
#test1 li, #test2 li, #test3 li, #test4 li, #test5 li, #test6 li, #test7 li, #test8 li {
  margin-bottom: 8px;
}

/* Style for the ordered list within the container */
#test1 ol, #test2 ol, #test3 ol, #test4 ol, #test5 ol, #test6 ol, #test7 ol, #test8 ol {
  list-style-type: decimal;
  color: #000000; /* Change the color as per your preference */
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  #test1, #test2, #test3, #test4, #test5, #test6, #test7, #test8 {
    padding: 15px;
  }

  #test1 h1, #test2 h1, #test3 h1, #test4 h1, #test5 h1, #test6 h1, #test7 h1, #test8 h1 {
    font-size: 20px;
  }

  #test1 p, #test2 p, #test3 p, #test4 p, #test5 p, #test6 p, #test7 p, #test8 p {
    font-size: 14px;
  }
}

  